html, body {
    height: 100%;
}

body {
    margin:0px;
    padding: 0px;
}

#logo img{
    width: 1200px;
    height: 450px;
    display: block;
    margin:auto;
}

#nav ul{
    list-style: none;
    margin: 0;
}

#nav li{
    text-align: center;
    margin: 20px 0;
    display: inline-block;
}

#nav a:hover{
    background: #fff;
    color: black;
}

#nav a{
    font-size: 20px;
    text-decoration: none;
    padding: 30px;
    color: white;
}

#wrap{
    width: 1315px;
    display: block;
    margin: 0 auto;
}

#main{
    background-color: #B6C8EA;
    margin: 0;
    width: 1050px;
    display: inline-block;
}

#main p{
    padding: 10px 40px;
}

#main h1,
h4{
    padding: 10px;
    text-align: center;
}

#log{
    width: 250px;
    margin: 0 0 0 10px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    background: #B6C8EA;
}

form input{
    display: block;
    margin: auto;
}

form input[type="checkbox"]{
	display: inline-block;
}

form button{
    margin: 5px auto;
    display: block;
}

#footer{
    background: #0000a0;
    color: white;
}

#footer p{
    padding: 20px;
}

/*===================sing in=================*/
.main{
    width: 90%;
    margin: auto;
    background: #B6C8EA;
    text-align: center;
}

form{
    padding: 30px;
}

input{
    margin: 0 auto 20px auto;
}

#settings>h4{
    font-size: 20px;
}

h2 {
	margin-top: 0;
}

input[type="submit"]{
	margin-top: 20px;
}

.error{
	color: red;
	font-weight: bold;
	display: block;
}

label {
	font-weight: bold;
}

.visitDiv{
	background: #fff;
	text-align: center;
	font-family: Helvetica;
	width: 400px;
	margin: 10px auto;
	border: 10px double #0000ff;
	padding: 20px;
}

.visitDiv h3{
	font-size: 20px;
}